<div class="blog-post">
  <div class="post-image">
    <a href="<%= url %>" target="_blank"><img src="<%= picture_url %>" /></a>
  </div>
  <div class="post-content">
    <ul class="post-meta">
      <li><%= date %></li>
    </ul>

    <div class="post-teaser">
      <p><a href="<%= url %>" target="_blank"><%= message %></a></p>
    </div>
  </div>
</div>
