<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>">
  <head>
    <%= partial 'partials/shared/meta_tags' %>
    <%= favicon_tag 'images/favicon.ico' %>
    <title><%= page_title %></title>
    <%= google_analytics %>
    <%= javascript_include_tag 'site' %>
    <%= stylesheet_link_tag 'site' %>
    <%= yield_content :css_tags %>
  </head>

  <body class="<%= current_page.data.body_class %>">
    <%= partial 'partials/shared/header' %>

    <%= partial 'partials/shared/breadcrumbs', locals: { breadcrumbs: current_page.data.breadcrumbs } %>

    <%= yield %>

    <%= partial 'partials/shared/footer' %>

    <%= partial 'partials/shared/js_i18n' %>
    <%= yield_content :js_tags %>
  </body>
</html>
