<div class="breadcrumb">
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="index.php">Inicio</a></li>
				<li>Our Prices</li>
			</ul>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="container">
		<h1 class="title-underline">Our Prices</h1>
		<p class="text-center info-text">
			We make doing your laundry simple. We can save your time, so you can enjoy doing the things you love. We can save you money on soap, water, heating and electricity. So you can enjoy even more of the things you love. Our prices are simple and affordable.
		</p>
	</div>
	<div class="container">
		<h2 class="title-underline">Affordable Prices</h2>
		<div class="row product-box-mobile arrow-on-white">
			<div class="col-md-4">
				<!-- product-box -->
				<a href="#" class="product-box animation" data-animation="fadeIn" data-animation-delay="0.5s">
					<span class="icon icon-shirt"></span>
					<h3 class="title">
						From <span class="base-color">$2</span> per shirt
					</h3>
					<h6 class="description">
						Shirt service
					</h6>
				</a>
				<!-- /product-box -->
			</div>
			<div class="col-md-4">
				<!-- product-box -->
				<a href="#" class="product-box animation" data-animation="fadeIn" data-animation-delay="0s">
					<span class="icon icon-bag"></span>
					<h3 class="title">
						<span class="base-color">$2.50</span> per kg
					</h3>
					<h6 class="description">
						Laundry service
					</h6>
				</a>
				<!-- /product-box -->
			</div>
			<div class="col-md-4">
				<!-- product-box -->
				<a href="#" class="product-box animation" data-animation="fadeIn" data-animation-delay="0.5s">
					<span class="icon icon-towel"></span>
					<h3 class="title">
						From <span class="base-color">$2</span> per item
					</h3>
					<h6 class="description">
						Dry cleaning
					</h6>
				</a>
				<!-- /product-box -->
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="title-underline">Full Price list</h2>
		<div class="prices-tabs">
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse1">LAUNDRY</a> </h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse2">SHIRTS/TOPS</a> </h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
									<tr>
										<td>20 Shirts @ 1.80 </td>
										<td>$36.00</td>
									</tr>
									<tr>
										<td>5 Shirts Wash & Fold </td>
										<td>$13.00</td>
									</tr>
									<tr>
										<td>Hung Shirt </td>
										<td>$2.49</td>
									</tr>
									<tr>
										<td>Hung T Shirt</td>
										<td>$2.49</td>
									</tr>
									<tr>
										<td>Folded Shirt</td>
										<td>$2.99</td>
									</tr>
									<tr>
										<td>Folded T Shirt </td>
										<td>$2.99</td>
									</tr>
									<tr>
										<td>Dinner Shirt</td>
										<td>$3.75</td>
									</tr>
									<tr>
										<td>Dress Shirt </td>
										<td>$3.99</td>
									</tr>
									<tr>
										<td>Silk Shirt</td>
										<td>$4.49</td>
									</tr>
									<tr>
										<td>Blouse</td>
										<td>$5.49</td>
									</tr>
									<tr>
										<td>Silk Blouse</td>
										<td>$6.75</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse3">SUITS</a> </h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse4">DRESS/SKIRT</a> </h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse5">TROUSERS</a> </h4>
				</div>
				<div id="collapse5" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse6">OUTDOOR</a> </h4>
				</div>
				<div id="collapse6" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse7">KNITWEAR</a> </h4>
				</div>
				<div id="collapse7" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse8">BEDDING</a> </h4>
				</div>
				<div id="collapse8" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse9">ALTERATIONS</a> </h4>
				</div>
				<div id="collapse9" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse10">ACCESSORIES</a> </h4>
				</div>
				<div id="collapse10" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="panel" role="tablist">
				<!-- panel heading -->
				<div class="panel-heading" role="tab">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" href="#collapse11">TOWELING</a> </h4>
				</div>
				<div id="collapse11" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<!--  -->
						<div class="table-price">
							<table>
								<tbody>
									<tr>
										<td>5 Shirts On Hanger</td>
										<td>$10.00</td>
									</tr>
									<tr>
										<td>10 Shirts @ 1.90 </td>
										<td>$19.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / -->
					</div>
				</div>
			</div>
			<!-- / -->
		</div>
	</div>
</div>

<% content_for :js_tags do %>
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'js/html5shiv' %>
		<%= javascript_include_tag 'js/respond.min' %>
	<![endif]-->
	<%= javascript_include_tag 'external/jquery/jquery.min' %>
	<%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
	<%= javascript_include_tag 'external/slick/slick.min' %>
	<%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
	<%= javascript_include_tag 'external/countto/jquery.countTo' %>
	<%= javascript_include_tag 'external/bootstrap-datetimepicker/moment.min' %>
	<%= javascript_include_tag 'external/bootstrap-datetimepicker/bootstrap-datetimepicker.min' %>
	<%= javascript_include_tag 'external/form/jquery.form' %>
	<%= javascript_include_tag 'external/form/jquery.validate.min' %>
	<%= javascript_include_tag 'site' %>
<% end %>
