---
title: navigation.contact.text
breadcrumbs:
  - navigation.contact.text
---

<div class="page-content">
	<div class="container">
		<h1 class="title-underline"><%= t('contact.title') %></h1>
		<div class="row">
			<div class="col-sm-5 col-md-4 col-lg-4">
				<p class="text-right">
					<%= t('contact.intro') %>
				</p>
			</div>

			<div class="col-sm-7 col-md-8 col-lg-7 col-lg-offset-1">
				<form id="contact-form" class="boxed-form" name="contact-form" method="post" novalidate="novalidate">
					<div id="success">
						<p><%= t('contact.messages.success') %></p>
					</div>

					<div id="error">
						<p><%= t('contact.messages.error') %></p>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<label class="control-label"><%= t('contact.form.fields.name') %></label>
								<input class="form-control" type="text" value="" name="name">
							</div>
						</div>

						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<label class="control-label"><%= t('contact.form.fields.phone_email') %></label>
								<input class="form-control" type="text" value="" name="phone_email">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label"><%= t('contact.form.fields.text') %></label>
						<textarea class="form-control" rows="10" name="message"></textarea>
					</div>

					<button class="btn btn-default btn-top" type="submit" id="submit"><%= t('contact.form.submit') %></button>
				</form>
			</div>
		</div>
	</div>

	<div class="container-fluid content">
		<div id="map"></div>
	</div>
</div>

<% content_for :js_tags do %>
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'js/html5shiv' %>
		<%= javascript_include_tag 'js/respond.min' %>
	<![endif]-->
	<%= javascript_include_tag 'external/jquery/jquery.min' %>
	<%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
	<%= javascript_include_tag 'external/slick/slick.min' %>
	<%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
	<%= javascript_include_tag 'external/countto/jquery.countTo' %>
	<%= javascript_include_tag 'external/form/jquery.form' %>
	<%= javascript_include_tag 'external/form/jquery.validate.min' %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{config[:gmaps_api_key]}" %>
	<%= javascript_include_tag 'theme' %>

	<script type="text/javascript">
		// validate contact form
		$(function () {
			$('#contact-form').validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					phone_email: {
						required: true,
						minlength: 5
					},
					message: {
						required: true,
						minlength: 5
					}
				},
				messages: {
					name: {
						required: "<%= t('contact.messages.blank_name') %>",
						minlength: "<%= t('contact.messages.short_name') %>"
					},
					phone_email: {
						required: "<%= t('contact.messages.blank_phone_email') %>",
						minlength: "<%= t('contact.messages.short_phone_email') %>"
					},
					message: {
						required: "<%= t('contact.messages.blank_message') %>",
						minlength: "<%= t('contact.messages.short_message') %>"
					}
				},
				submitHandler: function (form) {
					$(form).ajaxSubmit({
						type: "POST",
						data: $(form).serialize(),
						url: "/send_email.php",
						success: function () {
							$('#success').fadeIn();
							$('#contact-form').each(function () {
								this.reset();
							});
						},
						error: function () {
							$('#contact-form').fadeTo("slow", 0, function () {
								$('#error').fadeIn();
							});
						}
					});
				}
			});
		});
	</script>
<% end %>
