---
title: navigation.deals.text
breadcrumbs:
  - navigation.deals.text
---

<div class="page-content">
  <div class="container">
    <h1 class="title-underline"><%= t('deals.title') %></h1>

    <div class="divider-sm"></div>

    <%= partial 'partials/deals/facebook_posts/list' %>
  </div>

  <div class="text-center">
    <a class="btn btn-default view-more-post" href="<%= t('global.facebook_page') %>"><%= t('deals.facebook_page_text') %></a>
  </div>

  <div class="divider"></div>
</div>

<% content_for :js_tags do %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'js/html5shiv' %>
    <%= javascript_include_tag 'js/respond.min' %>
  <![endif]-->
  <%= javascript_include_tag 'external/jquery/jquery.min' %>
  <%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
  <%= javascript_include_tag 'external/slick/slick.min' %>
  <%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
  <%= javascript_include_tag 'external/countto/jquery.countTo' %>
  <%= javascript_include_tag 'external/form/jquery.form' %>
  <%= javascript_include_tag 'external/form/jquery.validate.min' %>
  <%= javascript_include_tag 'external/imagesloaded/imagesloaded.pkgd.min' %>
  <%= javascript_include_tag 'external/masonry/isotope.pkgd.min' %>
  <%= javascript_include_tag 'theme' %>
<% end %>
