---
title: navigation.faq.text
breadcrumbs:
  - navigation.faq.text
---

<div class="page-content">
	<div class="container">
		<h1 class="title-underline"><%= t('faq.title') %></h1>

		<p class="text-center info-text"><%= t('faq.intro') %></p>
	</div>

	<div class="accordion container offset-top50">
		<% t('faq.questions').each do |q| %>
			<div class="panel" role="tablist">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" href="#collapse-<%= t('faq.questions').index(q) %>"><%= q[:question] %></a>
					</h4>
				</div>

				<div id="collapse-<%= t('faq.questions').index(q) %>" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<div class="panel-content">
							<p><%= q[:answer] %></p>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<% content_for :js_tags do %>
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'js/html5shiv' %>
		<%= javascript_include_tag 'js/respond.min' %>
	<![endif]-->
	<%= javascript_include_tag 'external/jquery/jquery.min' %>
	<%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
	<%= javascript_include_tag 'external/slick/slick.min' %>
	<%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
	<%= javascript_include_tag 'external/countto/jquery.countTo' %>
	<%= javascript_include_tag 'external/form/jquery.form' %>
	<%= javascript_include_tag 'external/form/jquery.validate.min' %>
	<%= javascript_include_tag 'theme' %>
<% end %>
