<%= partial 'partials/index/featured_1' %>

<div class="page-content">
  <%= partial 'partials/index/featured_2' %>

  <%= partial 'partials/index/choose_us/block' %>

  <%= partial 'partials/index/steps' %>

  <%= partial 'partials/index/mission' %>

  <%= partial 'partials/index/google_reviews/list' %>

  <%= partial 'partials/index/map' %>
</div>

<% content_for :js_tags do %>
  <!--[if lt IE 9]>
    <script src="js/html5shiv' %>
    <script src="js/respond.min' %>
  <![endif]-->
  <%= javascript_include_tag 'external/jquery/jquery.min' %>
  <%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
  <%= javascript_include_tag 'external/slick/slick.min' %>
  <%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
  <%= javascript_include_tag 'external/countto/jquery.countTo' %>
  <%= javascript_include_tag 'theme' %>
  <%= javascript_include_tag 'external/form/jquery.form' %>
  <%= javascript_include_tag 'external/form/jquery.validate.min' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{config[:gmaps_api_key]}" %>
  <%= javascript_include_tag 'external/revolution/jquery.themepunch.tools.min' %>
  <%= javascript_include_tag 'external/revolution/jquery.themepunch.revolution.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.actions.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.carousel.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.kenburn.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.layeranimation.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.migration.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.navigation.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.parallax.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.slideanims.min' %>
  <%= javascript_include_tag 'external/revolution/extensions/revolution.extension.video.min' %>

  <script type="text/javascript">
    jQuery(document).ready(function () {
      // Revolution Slider
      jQuery('.tp-banner').show().revolution({
        sliderType: "standard",
        sliderLayout: "fullwidth",
        dottedOverlay: "none",
        delay: 6000,
        navigation: {
          keyboardNavigation: "off",
          keyboard_direction: "horizontal",
          mouseScrollNavigation: "off",
          mouseScrollReverse: "default",
          onHoverStop: "off",
          touch: {
            touchenabled: "on",
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: "horizontal",
            drag_block_vertical: false
          },
          arrows: {
            style: "uranus",
            enable: true,
            hide_onleave: true
          }
        },
        responsiveLevels: [1920, 1200, 992, 768],
        visibilityLevels: [1920, 1200, 992, 768],
        gridwidth: [1920, 1200, 992, 768],
        gridheight: [778, 486, 402, 300],
        lazyType: "single",
        shadow: 0,
        spinner: "off",
        stopLoop: "on",
        stopAfterLoops: 0,
        shuffle: "off",
        autoHeight: "off",
        fullScreenAutoWidth: "off",
        fullScreenAlignForce: "off",
        disableProgressBar: "on",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false
      });
    }); //ready
  </script>
<% end %>
