<%
# FIXME: Middleman ignores the "ignore" option (sic) in proxy pages and tries to build them too,
#        so its necessary to capture exceptions to avoid it failing when trying to do it with no locals defined.
begin
	current_page.data.title       = "navigation.services.items.#{service}"
	current_page.data.breadcrumbs = [ 'navigation.services.text', "navigation.services.items.#{service}" ]
%>
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title-underline h-sm"><%= t("services.items.#{service}.title") %></h1>

					<div>
						<%= image_tag "services/#{service}.png", class: 'img-responsive' %>
					</div>

					<div class="divider divider-47"></div>

					<p><%= t("services.items.#{service}.text") %></p>

					<div class="text-center">
						<a href="<%= link_path('contact') %>" class="contact-service btn btn-default btn-green btn-lg">
							<%= t('services.contact') %>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% content_for :js_tags do %>
		<!--[if lt IE 9]>
			<%= javascript_include_tag 'js/html5shiv' %>
			<%= javascript_include_tag 'js/respond.min' %>
		<![endif]-->
		<%= javascript_include_tag 'external/jquery/jquery.min' %>
		<%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
		<%= javascript_include_tag 'external/slick/slick.min' %>
		<%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
		<%= javascript_include_tag 'external/countto/jquery.countTo' %>
		<%= javascript_include_tag 'external/form/jquery.form' %>
		<%= javascript_include_tag 'external/form/jquery.validate.min' %>
		<%= javascript_include_tag 'site' %>
	<% end %>
<%
rescue
end
%>
