<%
# The rendering of this page is kinda tricky as it has to generate PHP code in the build phase, and something that makes sense in the development one.
# This humble developer apologizes for it.

if build?
%>
  <?php
  /*
  Google Places API response example:
    {
      "result":{
        "reviews":[
          {
            "author_name":"John Smith",
            "author_url":"https://www.google.com/maps/contrib/106615704148318066456/reviews",
            "language":"en",
            "profile_photo_url":"https://lh4.googleusercontent.com/-2t1b0vo3t-Y/AAAAAAAAAAI/AAAAAAAAAHA/0TUB0z30s-U/s150-c0x00000000-cc-rp-mo/photo.jpg",
            "rating":5,
            "relative_time_description":"in the last week",
            "text":"Great time! 5 stars!",
            "time":1508340655
          }
        ]
      }
    }
  */

  try {
    $data = file_get_contents('https://maps.googleapis.com/maps/api/place/details/json?key=<%= config[:google_api_key] %>&placeid=<%= config[:gplaces_place_id] %>');
    $data = json_decode($data, true);
    $reviews = array();

    if($data['status'] == 'OK' && array_key_exists('result', $data) && array_key_exists('reviews', $data['result']) && !empty(array_filter($data['result']['reviews']))) {
      foreach(array_slice($data['result']['reviews'], 0, <%= config[:gplaces_max_reviews] %>) as $review) {
        if(floatval($review['rating']) >= <%= config[:gplaces_min_rating] %> && $review['language'] == '<%= I18n.locale %>') {
          $reviews[] = $review;
        }
      }
    }

    if(!empty($reviews)) {
  ?>
<%

  reviews = [
    {
      profile_photo_url: '<?php echo $review["profile_photo_url"] ?>',
      author_name:       '<?php echo $review["author_name"] ?>',
      author_url:        '<?php echo $review["author_url"] ?>',
      text:              '<?php echo $review["text"] ?>'
    }
  ]
else
  reviews = [
    {
      profile_photo_url: '',
      author_name:       'Lorem ipsum',
      author_url:        'http://www.google.com',
      text:              'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu orci at justo cursus malesuada. Fusce faucibus dui facilisis, sodales leo ac, porttitor sem. Etiam scelerisque semper tellus ac varius. Aliquam pharetra tellus sed massa euismod, quis iaculis nisi eleifend.'
    },
    {
      profile_photo_url: '',
      author_name:       'Dolor sit amet',
      author_url:        'http://www.google.com',
      text:              'Duis accumsan ipsum nunc, eget blandit justo aliquam sed. In pulvinar, sem non finibus pulvinar, leo massa dapibus mauris, eu vestibulum urna tortor hendrerit justo. Ut quis metus quis nisl vestibulum consequat. Vestibulum a aliquam justo.'
    }
  ]
end
%>

<div class="content carusel--parallax" data-image="<%= image_path('parallax-img.jpg') %>">
  <div class="carousel-blog slick-dotted">
    <% if build? %>
      <?php foreach($reviews as $review) { ?>
    <% end %>

    <% reviews.each do |review| %>
      <%= partial 'partials/index/google_reviews/review', locals: review %>
    <% end %>

    <% if build? %>
      <?php } ?>
    <% end %>
  </div>
</div>

<% if build? %>
  <?php
    }
  } catch (Exception $e) {
    mail('<%= config[:errors_email] %>', '[ERROR WEB] Google reviews', $e->getMessage());
  }
  ?>
<% end %>
