<div class="google-review">
  <div class="container">
    <div class="row">
      <div class="carousel-blog-box">
        <div class="col-xs-3">
          <a href="<%= author_url %>" target="_blank" class="img">
            <% if build? %><?php if(!empty($review['profile_photo_url'])) { ?><% end %>

            <% if profile_photo_url.present? %>
              <img src="<%= profile_photo_url %>" alt="<%= author_name %>" />
            <% end %>

            <% if build? %><?php } ?><% end %>
          </a>
        </div>

        <div class="col-xs-9">
          <div class="center-y">
            <a href="<%= author_url %>" target="_blank" class="title"><%= author_name %></a>

            <p class="description"><%= text %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
