<div class="box-nav">
  <div class="container">
    <div class="row">
      <div class="center">
        <a id="touch-menu" class="mobile-menu" href="#">
          <span class="icon-menu-button-of-three-horizontal-lines"></span>
        </a>
        <nav class="top-menu">
          <ul class="menu">
            <% config[:navigation].each do |nav_element| %>
              <li>
                <a href="<%= nav_element[:link] %>"<%= ' class="active"' if nav_element[:link] == current_page.url || (nav_element[:items].present? && nav_element[:items].select{ |x| x[:link] == current_page.url }.present?) %>><%= t(nav_element[:text]) %></a>
                <% if nav_element[:items].present? %>
                  <ul>
                    <% nav_element[:items].each do |nav_sub_element| %>
                      <li><a href="<%= nav_sub_element[:link] %>"<%= ' class="active"' if nav_sub_element[:link] == current_page.url %>><%= t(nav_sub_element[:text]) %></a></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
