<div class="loader">
  <div class="loader-wrapper">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-3 pull-right">
        <%= change_locale_link %>
      </div>

      <div class="col-sm-12 col-xs-9 visible-sm visible-xs">
        <div class="box-telephone">
          <a href="tel:<%= t('global.phone').gsub(' ', '') %>" class="data">
            <span class="icon icon-telephone"></span> <%= t('global.phone') %>
          </a>

          <div class="time hidden-sm hidden-xs">
            <%= t('global.schedule.line_1') %><br />
            <%= t('global.schedule.line_2') %>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
        <address class="box-location">
          <%= t('global.address.line_1') %><br />
          <%= t('global.address.line_2') %>
        </address>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <h1><a class="logo" title="<%= t('global.name') %>" href="<%= link_path('/') %>"><%= image_tag 'logo.png', class: 'img-responsive', alt: t('global.name') %></a></h1>

        <h2 class="slogan hidden-xs hidden-sm"><%= t('global.slogan') %></h2>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
        <div class="box-telephone ">
          <a href="tel:<%= t('global.phone').gsub(' ', '') %>" class="data">
            <%= t('global.phone') %>
          </a>

          <div class="time hidden-sm">
            <%= t('global.schedule.line_1') %><br />
            <%= t('global.schedule.line_2') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial 'partials/shared/navigation' %>
</header>
