<div class="breadcrumb">
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li>Blog Posts</li>
			</ul>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="container">
		<h1 class="title-underline">Blog Posts</h1>
		<div class="divider-sm"></div>
		<div class="blog-isotope" id="blogGallery">
			<div class="blog-post">
				<div class="post-image">
					<a href="blog-single.html"><%= image_tag "blog/blog-post-img-card-1.jpg" %></a>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">The Dining Room: Washing and Care Instructions for Table Linens</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>Are you a family that uses tablecloths and cloth napkins often? We mainly use them around the holiday season here at the Hill House.</p>
					</div>
				</div>
			</div>
			<div class="blog-post">
				<div class="post-image">
					<div class="post-video">
						<iframe src="https://www.youtube.com/embed/z91MtZpcsKY?rel=0"></iframe>
					</div>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">Stain Removal Guide for the Holidays</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>I genuinely love this time of year from November through the end of December. It’s always a busy time with cleaning, cooking, baking and shopping but I try to make it more simple each and every year.</p>
					</div>
				</div>
			</div>
			<div class="blog-post">
				<div class="post-image">
					<a href="blog-single.html"><%= image_tag "blog/blog-post-img-card-2.jpg" %>
						<div class="post-quote">
							<div class="vert-wrap">
								<div class="vert">
									<div class="quote-author">Charles N. Rock</div>
									<p>Looking for something fun to do this weekend without breaking the bank? No problem! An empty wallet doesn’t mean you can let loose and enjoy your days off!</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">Follow-up to Washing Sheets & Towels</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>The simple answer is no, you should not wash your dirty clothes with sheets & towels.</p>
					</div>
				</div>
			</div>
			<div class="blog-post">
				<div class="post-image">
					<div class="post-carousel">
						<a href="#"><%= image_tag "blog/blog-post-img-card-3.jpg" %></a>
						<a href="#"><%= image_tag "blog/blog-post-img-card-3-1.jpg" %></a>
						<a href="#"><%= image_tag "blog/blog-post-img-card-3-2.jpg" %></a>
					</div>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">Keeping Your Bedroom Smelling Fresh</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>I confess: it has been a problem most of my married life. I’ve tried several ways of dealing with this ‘problem’ and I could never find the right combination of events.</p>
					</div>
				</div>
			</div>
			<div class="blog-post">
				<div class="post-image">
					<a href="blog-single.html"><%= image_tag "blog/blog-post-img-card-4.jpg" %></a>
					<div class="post-link-wrapper">
						<div class="vert-wrapper">
							<div class="vert">
								<a href="#" class="post-link">http://www.laundryserviceslink.com</a>
							</div>
						</div>
					</div>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">Getting Your Bedding Ready for Winter</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>I’ve talked before about bleach and how it definitely has its place in washing and whitening laundry. But what if you have an item that won’t tolerate bleach? Such as lace or a delicate linen or an old handkerchief… There are a few options that you have as an alternative to bleach.</p>
					</div>
				</div>
			</div>
			<div class="blog-post">
				<div class="post-image">
					<div class="post-music">
						<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/45360931&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
					</div>
				</div>
				<div class="post-content">
					<ul class="post-meta">
						<li class="post-message"><i class="icon icon-chat-bubble"></i><span>12</span></li>
						<li>10 / 11 / 2016</li>
					</ul>
					<h3 class="post-title"><a href="blog-single.html">The Dining Room: Washing and Care Instructions for Table Linens</a></h3>
					<div class="post-author">by Adam Smith</div>
					<div class="post-teaser">
						<p>Are you a family that uses tablecloths and cloth napkins often? We mainly use them around the holiday season here at the Hill House. I think people (meaning me) often don’t use nicer cloths and napkins because we perceive it as work to get them ready for an event and then to get them clean after said event.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center"><a class="btn btn-default view-more-post" href="#">Ir a la página de FB</a></div>
	<div class="divider"></div>
</div>

<% content_for :js_tags do %>
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'js/html5shiv' %>
		<%= javascript_include_tag 'js/respond.min' %>
	<![endif]-->
	<%= javascript_include_tag 'external/jquery/jquery.min' %>
	<%= javascript_include_tag 'external/bootstrap/bootstrap.min' %>
	<%= javascript_include_tag 'external/slick/slick.min' %>
	<%= javascript_include_tag 'external/waypoints/jquery.waypoints.min' %>
	<%= javascript_include_tag 'external/countto/jquery.countTo' %>
	<%= javascript_include_tag 'external/form/jquery.form' %>
	<%= javascript_include_tag 'external/form/jquery.validate.min' %>
	<%= javascript_include_tag 'external/imagesloaded/imagesloaded.pkgd.min' %>
	<%= javascript_include_tag 'external/masonry/isotope.pkgd.min' %>
  <%= javascript_include_tag 'site' %>
<% end %>
