<div class="fill-bg-2 offset-top60 clearfix">
  <div class="container offset-top0">
    <div class="row">
      <div id="home_delivery" class="box-step animation" data-animation="fadeIn" data-animation-delay="0s">
        <h3><%= t("index.steps.title") %></h3>

        <a href="<%= link_path(:contact) %>" class="item">
          <div class="icon">
            <%= image_tag "img_icon_01.png", "class" => "img-responsive1" %>
          </div>

          <h6 class="description"><%= t("index.steps.item_1.title") %></h6>
          <h4 class="title"><%= t("index.steps.item_1.text", phone: t('global.phone')).html_safe %></h4>
        </a>

        <a href="<%= link_path(:contact) %>" class="item animation" data-animation="fadeIn" data-animation-delay="0.25s">
          <div class="icon">
            <%= image_tag "img_icon_02.png", "class" => "img-responsive1" %>
          </div>

          <h6 class="description"><%= t("index.steps.item_2.title") %></h6>
          <h4 class="title"><%= t("index.steps.item_2.text").html_safe %></h4>
        </a>

        <a href="<%= link_path(:contact) %>" class="item animation" data-animation="fadeIn" data-animation-delay="0.5s">
          <div class="icon">
            <%= image_tag "img_icon_03.png", "class" => "img-responsive1" %>
          </div>

          <h6 class="description"><%= t("index.steps.item_3.title") %></h6>
          <h4 class="title"><%= t("index.steps.item_3.text").html_safe %></h4>
        </a>

        <a href="<%= link_path(:contact) %>" class="item animation" data-animation="fadeIn" data-animation-delay="0.75s">
          <div class="icon">
            <%= image_tag "img_icon_04.png", "class" => "img-responsive1" %>
          </div>

          <h6 class="description"><%= t("index.steps.item_4.title") %></h6>
          <h4 class="title"><%= t("index.steps.item_4.text").html_safe %></h4>
        </a>
      </div>
    </div>
  </div>
</div>
