<div class="container">
  <h2 class="title-underline"><%= t('index.choose_us.title') %></h2>

  <div class="row permission-box-mobile arrow-on-white">
    <%
      {
        item_1: 'bright-lightbulb',
        item_2: 'tag-1',
        item_3: 'reading-book',
        item_4: 'quality',
        item_5: 'express-delivery',
        item_6: 'interface'
      }.each do |text_key, icon|
    %>
      <div class="col-md-4">
        <!-- permission box -->
        <a href="#" class="permission-box animation" data-animation="fadeInLeft" data-animation-delay="0s">
          <span class="icon icon-<%= icon %>"></span>
          <div class="description">
            <h4 class="title"><%= t("index.choose_us.#{text_key}.title") %></h4>
            <p><%= t('index.choose_us.#{text_key}.text') %></p>
          </div>
        </a>
        <!-- /permission box -->
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center offset-top35"><a href="<%= link_path('prices') %>" class="btn btn-default btn-green"><%= t("index.choose_us.prices") %></a></div>
    </div>
  </div>
</div>
